<script id="pokemon-card-template" type="text/x-handlebars-template">
  <div class="pokemon-card-link" href="{{cardLink}}">
    <div class="pokemon-card">
      <img src="{{imageUrl}}" alt="{{displayName}}">
      <p>#{{paddedIndex}} {{displayName}}</p>
    </div>
  </div>
</script>
